<div class="container">
  <div class="row text-center">
    <h1 class="pages-title"><%= t('.title') %></h1>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <div class="row p-3">
      <%= link_to t('tasks.index.title'), tasks_path, class: 'btn btn-primary btn-lg' %>
    </div>
    <div class="row p-3">
      <%= link_to t('tasks.today.title'), today_tasks_path, class: 'btn btn-primary btn-lg' %>
    </div>
    <div class="row p-3">
      <%= link_to t('tasks.new.title'), new_task_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</div>