<h1><%= t('.title') %></h1>

<%= link_to t('tasks.index.title'), tasks_path, class: 'btn btn-primary' %>
<%= link_to t('tasks.today.title'), today_tasks_path, class: 'btn btn-primary' %>
<%= link_to t('tasks.new.title'), new_task_path, class: 'btn btn-primary' %>
